/* Font styles */
.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* --x-- */

/* Shared styles */

.primary-color{
  color: #4E47FF;
}
.title-color{
  color: #252432;
}
.description-color{
  color: #8987A1;
}
.primary-button{
  background-color: #4E47FF;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}
.body{
  background-color: #F5F8FF;
  width: auto;
  padding: 150px 100px 100px;
}
/* --x-- */

/* Header styles */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 50px 0px;
}
nav h3{
    font-size: 34px;
    font-weight: bold;
}

.banner-title{
  font-size: 65px;
  font-weight: bold;
}
.banner{
  width: auto;
  gap: 37px;
  top: 0;
  text-align: center;
}
.header{
background-image: url(../Assets/Hero-bg.png);
gap: 158px;
margin: 0px;
padding: 0px 150px 200px;
align-content: center;
}
/* --x-- */

/* This is preview section */

.preview-img{
  border-radius: 48px;
}
.preview-heading{
  font-size: 42px;
  font-weight: bold;
}
.preview-description{
  font-size: 24px;
  font-weight: 400px;
}
.preview{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 203px;
  width: auto;
  margin-bottom: 150px;
}

/* --x-- */

/* This is Success section */

.success-heading{
  font-size: 38px;
  font-weight: bold;
}
.success-data{
  display: flex;
  gap: 158px;
  margin: 0px;
}
.data-digit{
  font-size: 80px;
  font-weight: bold;
  margin: 0px;
}
.data-description{
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
}
.success{
  display: block;
  text-align: center;
  width: auto;
  gap: 40px;
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 150px;
  margin-bottom: 150px;
}
/* --x-- */

/* This is Review section */

.review_cards{
  display: flex;
}
.review-heading{
  text-align: center;
}
.review{
  margin-bottom: 150px;
}
/* --x-- */

/* This is CTA section */

.CTA-img{
  border-radius: 48px;
}
.CTA-heading{
  font-size: 50px;
  font-weight: bold;
  margin: 0px;
}
.CTA-description{
  margin: 0px;
}
.CTA{
  gap: 20px;
  text-align: center;
  margin-bottom: 150px;
  padding: 71px 150px;
  background-color: white;
  display: block;
}

/* --x-- */

/* This is Leave a message section */

div form input[type="email"], div form input[type="text"], div form input[type="textarea"]{
  border-radius: 10px;
  gap: 10px;
  border: none;
  padding: 20px 32px;
  display: block;
}
.message-title{
  font-size: 97px;
  font-weight: bold;
}
.message{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 71px 0px;
  gap: auto;
}

/* --x-- */

/* This is footer section */

footer nav ul li{
    list-style: none;
}
footer nav ul li a{
  text-decoration: none;
  color: #8987A1;
}
.footer-nav{
  display: flex;
}
.footer-heading{
  color: #4E47FF;
  font-size: 100px;
  font-weight: bold;
}
.footer{
  text-align: center;
  background-color: white;
}