/* Universal styles */

* .full-body{
  margin: 0;
  padding: 0;
}

/* --x-- */

/* Font styles */
.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* --x-- */

/* Shared styles */

.primary-color{
  color: #4E47FF;
}
.title-color{
  color: #252432;
}
.description-color{
  color: #8987A1;
}
.primary-button{
  background-color: #4E47FF;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}
.body{
  background-color: #F5F8FF;
  width: auto; 
  padding: 150px 100px 100px;
}
/* --x-- */

/* Header styles */

.header{
background-image: url(../Assets/Hero-bg.png);
gap: 158px;
padding: 0px 150px 200px;
align-content: center;
}
.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0px 50px;
  gap: auto;
}
.logo{
    font-size: 34px;
    font-weight: bold;
}
.banner-title{
  font-size: 65px;
  font-weight: bold;
}
.banner{
  width: auto; 
  gap: 37px;
  top: 0;
  text-align: center;
  background-size: cover;
}

/* --x-- */

/* This is preview section */

.preview{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 203px;
  width: auto; 
  margin-bottom: 150px;
}
.preview-content{
  padding: 62px 0px;
}
.preview-img{
  border-radius: 48px;
  width: auto;
}
.preview-heading{
  font-size: 42px;
  font-weight: bold;
}
.preview-description{
  font-size: 24px;
  font-weight: 400px;
}

/* --x-- */

/* This is Success section */

.success-heading{
  font-size: 38px;
  font-weight: bold;
}
.success-data{
  display: flex;
  justify-content: center;
  gap: 158px;
  margin: 0px;
}
.data-digit{
  font-size: 80px;
  font-weight: bold;
  margin: 0px;
}
.data-description{
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
}
.success{
  text-align: center;
  width: auto; 
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
  margin-bottom: 150px;
  border-radius: 24px;
}
/* --x-- */

/* This is Review section */

.review{
  text-align: center;
  gap: 50px;
  margin-bottom: 150px;
}
.review-heading{
  font-size: 42px;
  font-weight: bold;
}
.review_cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  background-color: white;
  border-radius: 14px;
  padding: 24px;
  text-align: left;
}
.card-content{
  margin-bottom: 20px;
}
.card-heading{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-description{
  font-size: 16px;
  font-weight: rgba(30, 30, 30, 1);
}
.reviewer-info{
  display: flex; 
  gap: 10px; 
}
.reviewer-name{
  font-weight: rgba(117, 117, 117, 1);
}
.date{
  font-weight: rgba(117, 117, 117, 0.699);
} 
.star-icon{
  margin-bottom: 20px;
}
.avatar-icon{
  border-radius: 50%;
}

/* --x-- */

/* This is CTA section */

.CTA-img{
  border-radius: 48px;
  width: 100%;
}
.CTA-heading{
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
}
.CTA-description{
  margin-bottom: 20px;
}
.CTA{
  display: block;
  gap: 20px;
  text-align: center;
  padding: 71px 150px;
  background-color: white;
  margin-bottom: 150px;
}
.CTA-button{
  margin-bottom: 20px;
}

/* --x-- */

/* This is Leave a message section */

.message{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 71px 100px;
  gap: auto;
}
.message-title{
  font-size: 97px;
  font-weight: bold;
}
div form input[type="email"], div form input[type="text"], div form textarea{
  border-radius: 10px;
  gap: 10px;
  border: none;
  padding: 20px 32px;
  display: grid;
}
.message-email{
  margin-top: 7px;
  margin-bottom: 19px;
}
.message-name{
  margin-top: 7px;
  margin-bottom: 19px;
}
#message-text{
  margin-top: 7px;
  margin-bottom: 19px;
} 

/* --x-- */

/* This is footer section */

footer nav ul li{
    list-style: none;
}
footer nav ul li a{
  text-decoration: none;
  color: #8987A1;
}
.footer{
  text-align: center;
  padding: 0px 100px 80px;
}
.footer-nav{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.footer-heading{
  color: #4E47FF;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 0px;
}

/* --x-- */

/* Hoover effect */

.primary-button:hover {
  background-color: white;
  color: black;
  /* box-shadow: 0 8px 20px rgba(78, 71, 255, 0.3); */
  /* transform: translateY(-2px); */
  /* transition: all 0.3s ease; */
}
.primary-button {
  /* transition: all 0.3s ease; */
}

/* --x-- */