/* Font styles */
.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* --x-- */

/* Shared styles */

.primary-color{
  color: #4E47FF;
}
.title-color{
  color: #252432;
}
.description-color{
  color: #8987A1;
}
.primary-button{
  background-color: #4E47FF;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}

/* --x-- */

/* Header styles */

header {
width: 1440px;
height: 698px;
background-image: url(../Assets/Hero-bg.png);
background-repeat: no-repeat;
gap: 158px;
}
nav{
  width: 1140px;
  height: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 50px 0px;
}
nav h3{
    font-size: 34px;
    font-weight: bold;
}

.banner-title{
  font-size: 65px;
  font-weight: bold;
}
.banner{
  gap: 37px;
  width: 905px;
  height: 152px;
  top: 0;
  text-align: center;
}
/* --x-- */

/* This is preview section */

.preview-img{
  border-radius: 48px;
}
.preview{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 203px;
}

/* --x-- */

/* This is Success section */

.success-heading{
  font-size: 38px;
  font-weight: bold;
}
.success-data{
  display: flex;
  gap: 158px;
  margin: 0px;
}
.data-digit{
  font-size: 80px;
  font-weight: bold;
}
.data-description{
  font-size: 20px;
  font-weight: 400;
}
.success{
  gap: 40px;
}
/* --x-- */

/* This is Review section */

.review_cards{
  display: flex;
}
.review-heading{
  text-align: center;
}

/* --x-- */

/* This is CTA section */

.CTA{
  text-align: center;
}
.CTA-img{
  border-radius: 48px;
}
/* --x-- */

/* This is Leave a message section */

.message{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div form input[type="email"], div form input[type="text"], div form input[type="textarea"]{
  width: 100%;
  height: 70px;
  gap: 10px;
  border-radius: 10px;
  border: none;
  padding: 20px 32px;
  display: block;
}

/* --x-- */

/* This is footer section */

footer nav ul li{
    list-style: none;
}
footer nav ul li a{
  text-decoration: none;
  color: #8987A1;
}
.footer{
  text-align: center;
}
.footer-nav{
  display: flex;
}